@import '../../assets/colors';

.login {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 8px 33px -5px rgba(34, 60, 80, 0.2);
  width: 30%;
  padding: 40px 50px;
  background-color: #fff;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  &__password {
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid $categoty;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: $categoty;
    height: 30px;
    margin-bottom: 20px;
  }
  &__btn {
    border: none;
    font-family: Montserrat;
    background-color: $bg;
    height: 46px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $categoty;
    transition: all 0.3s;

    &:hover, &:focus {
      background: #dadada;
    }
  }
}